---
import { Icon } from 'astro-icon/components'

const { icon, alt, title, statement } = Astro.props
---

<div
  class="flex flex-col gap-4 items-center m-6 bg-white shadow-2xl w-96 py-12.5 px-2 -translate-y-30"
>
  <div
    class="flex items-center justify-center w-1/3 bg-brand-green rounded-full aspect-square"
  >
    <img src={icon} alt={alt} />
  </div>
  <div class="text-2xl font-bold text-center text-brand-blue">
    {title}
  </div>
  <div
    class="text-gray-700 min-h-20 flex items-center justify-center text-center font-medium"
  >
    {statement}
  </div>
  <a
    href="/studyInJapan"
    class="font-bold border-2 border-gray-300 py-2 px-4 h-12 rounded-full origin-right transition relative outline group/cta overflow-hidden"
  >
    <div class="flex items-center gap-4 relative">
      <span class="group-hover/cta:text-white delay-300"> Get Started </span>
      <div class="p-2 text-white bg-brand-green rounded-full aspect-square">
        <Icon name="arrow-right-icon" />
      </div>
    </div>
    <div
      class="absolute w-16 aspect-square bg-brand-green rounded-full -top-6 -translate-y-6 -right-3 group-hover/cta:scale-500 scale-1 transition-transform duration-1000 -z-1 ease-in-out"
    >
    </div>
  </a>
</div>
