---
import { Icon } from 'astro-icon/components'
---

<ul class="gap-2 flex">
  <li>
    <a href="">
      <Icon name="facebook" class="size-4 text-brand-red" />
    </a>
  </li>
  <li>
    <a href="">
      <Icon name="twitter" class="size-4 text-brand-red" />
    </a>
  </li>
  <li>
    <a href="">
      <Icon name="instagram" class="size-4 text-brand-red" />
    </a>
  </li>
  <li>
    <a href="">
      <Icon name="tiktok" class="size-4 text-brand-red" />
    </a>
  </li>
</ul>
