---
import Navigation from '../components/Navigation.astro'
import '../Styles/globle.css'
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="m-0 w-full h-full bg-white flex flex-col">
    <Navigation />
    <div class="flex-1 container mx-auto px-4">
      <slot />
    </div>
  </body>
</html>
